{% extends "layout.html" %}

{% block content %}

<div class="container-fluid w-100">

    <div class="col">
        <h2 class="row justify-content-center">{{table}}</h2>
    </div>
    

    <form class="justify-content-center" action="/add/submit" method="POST">

        <input type="hidden" name="table" value="{{table}}">

            {% set count = namespace(value=0) %}

            {% for row in rows %}
            <div class="row justify-content-center">

                {% for item in row %}

                <div class="col m-2">

                    <span class="row justify-content-center">
                    <label class="add_label" id="">{{ item }}</label>
                    </span>

                    <span class="row justify-content-center">
                    <input class="text-center" type="text" name="{{count.value}}" value="{{count.value}}">
                    </span>
                    {% set count.value = count.value + 1 %}
                </div>
                {% endfor %}

            </div>
            {% endfor %}


        <div class="col mt-3 mb-3">
            <span class="row justify-content-center">
            <input class="row p-2" type="submit" value="Post">
            </span>
        </div>

    </form>
</div>

{% endblock %}