{% extends "layout.html" %}


{% block content %}

<div class="container-fluid">
    <h2>Are you sure you would like to delete this item?</h2>
    <form action="/delete/submit" method="POST">
        <input type="hidden" name="table" value="{{table}}">
        <input type="hidden" name="itemID" value="{{itemID}}">
        <input type="submit" value="Yes">
    </form>

    <form action="/delete/undo" method="POST">
        <input type="hidden" name="table" value="{{table}}">
        <input type="submit" value="No">
    </form>
</div>

{% endblock %}