{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/addItem.css') }}">
{%endblock%}

{% block content %}

<div class="">
    <form action="/add" method="POST">
        <input type="text" name="title" value="Enter Title Here">
        <input type="text" name="content" value="Enter Content Here">
        <input type="submit" value="Post">
    </form>
</div>

<table class="table table-striped table-dark">

    <thread>
        <tr id="columns">
            {% for column in columns %}
            <th scope="col">{{column}}</th>
            {% endfor %}
        </tr>
    </thread>

    {% for item in items %}

    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
    </tr>

    {% endfor %}

</table>

<form action="/delete" method="POST">
    <button type="submit">Delete All</button>
</form>

{% endblock %}