{% extends "layout.html" %}


{% block content %}
<div id="" class="col mt-5 tableNameDiv">
    <h1 id="" class=" row display-4 tableName">{{tableName}}</h2>
</div>

<div class="row">
    <form class="ml-2" action="/add" method="POST">
        <input type="hidden" name="table" value="{{table}}">
        <input class="p-2" type="submit" value="Add Entry">
    </form>
</div>

<div class="row">

    <span class="col">

        <input type="text" id="myInput" onkeyup="searchBox()" placeholder="Search" style="width: 25%;">

        <label class="m-2" style="color: white;">Search by: </label>
    
        <select id="filterSelect" class="" style="width: 10%;" onchange="searchBox()">
    
            {% for column in columns %}
            <option value="{{loop.index-1}}">{{column}}</option>
            {% endfor %}
    
        </select>

    </span>

</div>

<div id="tableDiv" class="table">

<table id="dataTable" class="table table-hover table-striped table-dark table-bordered">
    
    <thead>
        <tr id="tableHeader">
            {% for column in columns %}
            <th id="tableHeadRow" class="columns align-self-center" scope="col">{{column}}</th>
            {% endfor %}
        </tr>
    </thead>


    {% for item in items %}

    <tr id="{{item[0]}}" name="{{item[0]}}">
        {% for info in item %}
        <td>{{info}}</td>
        {% endfor %}

        <td>
            <div>
                <form action="/edit" method="POST">
                    <button name="{{table}}:{{item[0]}}">Edit</button>
                </form>
            
                <form action="/delete" method="POST">
                    <button name="{{table}}:{{item[0]}}">Delete</button>
                </form>
            </div>
        </td>
    </tr>



    {% endfor %}

</table>
</div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/table.js') }}"></script>
{% endblock %}