@media only screen and (max-width: 600px) {

}

html, body {
    background-color: rgb(87, 87, 87);
}

#header {
    color: white;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.columns {
    background-color: rgb(202, 202, 202);
    color: black;
}

#add_label {
    color: white;
}

h1, h2 {
    color: white
}

#welcome{
    text-align: center;
}

#welcome h1, #welcome h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tableHeader {
    width: 100%;
}

.tableHeadRow {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

th {
    position: sticky;
    top: 0;
    font-size: smaller;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
